<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.contact_url}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Trần Khánh (<span id="js-rotating">Tròm</span>)</h4>
  </div>
  <div class="user-content">
    <p style="text-align:center">
      Có những ngày thành phố ẩm ương, mưa suốt đến buồn phiền... Luôn hy vọng một ngày kia, trời quang, mây tạnh, và thứ để lại không phải là một chút đượm buồn...
    </p>
  </div>
</div>