<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.contact_url}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Trần Khánh (<span id="js-rotating">Tròm</span>)</h4>
  </div>
  <div class="user-content col s6">
    <div class="card hoverable">
      <div class="card-content">
        <p id="post-content" style="text-align:center">Có những ngày thành phố ẩm ương, mưa đến buồn phiền. Tạm gác lại, ta mở toang cửa sổ, thả hồn mình vào những trang giấy đang dở dang...</p>
      </div>
    </div>
  </div>
</div>