  </div>
  <div class="refresh" id="refresh"></div>
  <div class="get_back" id="get_back"></div>
  <div class="footer">
    <div class="copyright_wrap">
      <div class="copyright">
        <p>Copyright © {{"now" | date: "%Y"}} {{site.title}}</p>
        <p>All rights reserved</p>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.7.0/jquery.validate.min.js"></script>
</body>
</html>
