<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="https://i.imgur.com/klNR1RA.jpg" type="image/png" />
    <link type="text/css" rel="stylesheet" href="{{ site.url }}/assets/css/main.css" media="all,handheld" />
</head>

<body>
    <div class="header_wrap">
    <ul class="nav_wrap clear" id="nav_wrap">
      <li data-page="#tab_funnystory"><a href="javascript:;">Truyện Cười<span id="tab_funnystory"></span></a></li>
      <li data-page="#tab_sexygirl" class="active"><a href="/index">Gái Xinh<span id="tab_sexygirl"></span></a></li>
      <li data-page="#tab_funnypic"><a href="javascript:;">Hài<span id="tab_funnypic"></span></a></li>
    </ul>
  </div>
    <div class="content_wrap" id="content_wrap">
